.recruitment-journey-container {
  text-align: center;
  padding: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.feature {
  background: white;
  padding: 20px;
  width: 65%;
  margin: 10px;
  text-align: left;
}

.feature h2 {
  color: #4a90e2;
}

.feature p {
  color: #666;
}

.cta {
  margin: 40px;
}

.cta button {
  background: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.logo {
  max-width: 50%;
  height: auto;
  align-items: center;
}

@media (min-width: 520px) {
  .feature {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .feature {
    width: 18%;
  }
}
